<!DOCTYPE html>
{%extends "layout.html"%}

{%block content%}

<html lang="en">

    <style>

        p {
            font-family: verdana, sans-serif;
        }

        p.border1{
            border-style: none none solid none;
            border-color: #97B7D7;
            font-size: 40px;
            margin: auto;
        }

        .center {
            max-width: 1000px;
            margin: auto;
        }

    </style>

    <head>
        <title>The PHifTH Portfolio</title>
    </head>

    <body>
        <p class="border1" align="center">The PHifTH Portfolio</p><br>

        <div class="center" style="background-color:#CECCCB">
            <br><div style="text-align: center;">
                <img src="{{url_for('static', filename='hawkeye.png')}}" class="center"/>
            </div>
            
            <p style="text-align: center;"><a href="{{ url_for('team_intro') }}">Our Team</a></p><br>
            <p style="text-align: center;"><a href="{{ url_for('connor') }}">Connor's Portfolio</a></p><br>
            <p style="text-align: center;"><a href="{{ url_for('joey') }}">Joey's Portfolio</a></p><br>
            <p style="text-align: center;"><a href="{{ url_for('brianna') }}">Brianna's Portfolio</a></p><br>
            <p style="text-align: center;"><a href="{{ url_for('jt') }}">JT's Portfolio</a></p><br>

        </div>

    </body>

    {% endblock %}

</html>
