{%extends "layout.html"%}

{%block content%}

    <head>
        <title>JT's Portfolio</title>
    </head>

    <div class="center" style="background-color:#dec8ab">
    <p class="border2">Welcome to JT's porfolio page!</p><br>
         <p>
            Hello I'm JT AKA Josua Theodore, and I'm a 4th year Electrical Engineer at U of I. I was born in Bettendorf Iowa
            in the Quad Cities, but I haven't lived there for around 12 years. Up until now I was living in Heidelberg
            Germany from 2010 to 2013 and then in Wiesbaden Germany from 2013 till the December 2021. My parents worked
            for the government so because of that I got to move around a lot when I was younger. My mom comes from Printess
            Mississippi and my dad comes from Athens Greece. I can speak English and Greek pretty well and I kind of know some
            German.
        </p><br>

           <div style="text-align: center;">
        <img height= "500px" width="500px" src="{{url_for('static', filename='FinlandPic.jpg')}}"/>
        <img height= "500px" width="500px" src="{{url_for('static', filename='Airborn.jpg')}}"/>

         <p>
            I played football, wrestling, and track growing up in high school. I won the European wrestling championships for
             my weight class at 152 pounds. There were no real opportunities to scout over there so hen moving back to the states
             I just didn't pursue being on the University team.
         </p><br>

         <p>
             My favorite place I've visited is Greece by far. Most of my dad's side of the family lives over there and I love
               getting to see them all during my long breaks in the summer and the winter. They eat a lot of fish over there so
                every time I get the chance to go I almost eat fish exclusively.
        <div style="text-align: center;">

        <img height= "500px" width="500px" src="{{url_for('static', filename='Greece.jpg')}}"/><br><br>
        </div>

    <br><p style="text-align: center;"><a href="{{ url_for('team_intro') }}">Read about our Team!</a></p><br>

    <div class="commentbox"></div>
    <script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>
    <script>commentBox('5726679016144896-proj')</script>

{% endblock %}