{%extends "layout.html"%}

{%block content%}
    <head>
        <title>Our Team</title>
    </head>
    <style>
        .topLeft{
            padding-left: 35px;
        }
    </style>
    <p class="border2">Our Team</p><br>

    <figure class="center">
    <img class="topLeft" src="{{url_for('static', filename='joey.png')}}" name="joey"/>
        <figcaption class="center">Hi, my name is Joey Parmenter and I am a Senior in <br>
            Computer Science and Engineering at the University <br> of Iowa. Some things 
            I like to do are hiking, exercising,<br> and playing golf. 
            <a href= "{{ url_for('team_intro') }}">Read more</a> about me on my page!<br>
        </figcaption>
    </figure>

{% endblock %}